
<nav className="contenedor">
    <h1 className="navbar-logo"><i className="fa-solid fa-hospital icono"></i></h1>
    <div className="menu-icon" ></div>
    <button routerLink="/home" routerLinkActive="active-link" class="btn btn-secondary">Inicio</button>
    <button routerLink="/login" routerLinkActive="active-link"  class="btn btn-secondary">Ingresá</button>
    <button routerLink="/register" routerLinkActive="active-link"  class="btn btn-secondary">Registrate</button>
    <button routerLink="/turnos" routerLinkActive="active-link"  class="btn btn-secondary">Turnos</button>
    <button routerLink="/contacto" routerLinkActive="active-link" class="btn btn-secondary">Contactanos</button>
  </nav>