<h1>Reseva tu turno!</h1>
<form id="contact-form" name="contact-form" action="mail.php" method="POST">
<select class="form-select" aria-label="Default select example">
    <option selected>Dia</option>
    <option value="1">Lunes</option>
    <option value="2">Martes</option>
    <option value="3">Miercoles</option>
  </select>
  <select class="form-select" aria-label="Default select example">
    <option selected>Hora</option>
    <option value="1">13:00</option>
    <option value="2">14:00</option>
    <option value="3">15:00</option>
  </select>
  <select class="form-select" aria-label="Default select example">
    <option selected>Especialidad</option>
    <option value="1">Traumatologia</option>
    <option value="2">Cardiologia</option>
    <option value="3">Dermatologia</option>
  </select>
  <select class="form-select" aria-label="Default select example">
    <option selected>Medico</option>
    <option value="1">Juan Perez</option>
    <option value="2">Carlos Garcia</option>
    <option value="3">Pedro Lopez</option>
  </select>
</form>
  <div class="text-center text-md-left">
    <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Reservar</a>
</div>
